<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>.</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <button class="button module1" style="background-image: url('static/img/{{ 'module_passed_1_1.png' if module1_flag else 'module_not_passed_1_1.png' }}');"></button>
        <button class="button task1_1" style="background-image: url('static/img/{{ 'trace.png' if not task1_1_flag else 'task_not_passed_1_1_1.png' }}');"></button>
        <button class="button task2_1" style="background-image: url('static/img/{{ 'trace.png' if not task2_1_flag else 'task_not_passed_1_1_2.png' }}');"></button>
        <button class="button task3_1" style="background-image: url('static/img/{{ 'trace.png' if not task3_1_flag else 'task_not_passed_1_1_3.png' }}');"></button>
        <button class="button task4_1" style="background-image: url('static/img/{{ 'trace.png' if not task4_1_flag else 'task_not_passed_1_1_4.png' }}');"></button>

    <button class="button module2" style="background-image: url('static/img/{{ 'module_passed_1_2.png' if module2_flag else 'module_not_passed_1_2.png' }}');"></button>
        <button class="button task1_2" style="background-image: url('static/img/{{ 'trace.png' if not task1_2_flag else 'task_not_passed_1_2_1.png' }}');"></button>
        <button class="button task2_2" style="background-image: url('static/img/{{ 'trace.png' if not task2_2_flag else 'task_not_passed_1_2_2.png' }}');"></button>
        <button class="button task3_2" style="background-image: url('static/img/{{ 'trace.png' if not task3_2_flag else 'task_not_passed_1_2_3.png' }}');"></button>
        <button class="button task4_2" style="background-image: url('static/img/{{ 'trace.png' if not task4_2_flag else 'task_not_passed_1_2_4.png' }}');"></button>

    <button class="button module3" style="background-image: url('static/img/{{ 'module_passed_1_3.png' if module3_flag else 'module_not_passed_1_3.png' }}');"></button>
        <button class="button task1_3" style="background-image: url('static/img/{{ 'trace.png' if not task1_3_flag else 'task_not_passed_1_3_1.png' }}');"></button>
        <button class="button task2_3" style="background-image: url('static/img/{{ 'trace.png' if not task2_3_flag else 'task_not_passed_1_3_2.png' }}');"></button>
        <button class="button task3_3" style="background-image: url('static/img/{{ 'trace.png' if not task3_3_flag else 'task_not_passed_1_3_3.png' }}');"></button>
        <button class="button task4_3" style="background-image: url('static/img/{{ 'trace.png' if not task4_3_flag else 'task_not_passed_1_3_4.png' }}');"></button>
</body>
</html>
