{% extends "base.html" %}

{% block content %}

{% if lvl_open %}
<dialog id="myDialog" class="dialog">
    <h2>Поздравляем!</h2>
    <p>Уровень {{lvl_open}} открыт!</p>
    <button id="closeDialog" class="theme-btn">Отлично</button>
</dialog>

<script>
    const dialog = document.getElementById('myDialog');
    const closeDialogButton = document.getElementById('closeDialog');

    function openDialogButton() {
        dialog.showModal(); // Открыть диалог как модальное окно
    };

    closeDialogButton.addEventListener('click', () => {
        dialog.close(); // Закрыть диалог
    });

    window.onload = openDialogButton;
</script>
{% endif %}

<div class="container">
    <img src="/static/img/{{ data['background'] }}">
    {% for module in data['modules'] %}
    {% set model_number = loop.index0 % 3 + 1 %}
    {% for task in module['tasks'] %}
        {% set task_number = loop.index0 % 5 %}
        {% if dict_progress_buttons['model' ~ model_number][task_number] == "completed" or dict_progress_buttons['model' ~ model_number][task_number] == "blocked"%}
            <a href="/solv/{{dict_progress_buttons['level']}}{{model_number}}{{task_number + 1}}" class="button task" style="pointer-events: none; top: {{ task['coordinates'][0] }}%; left: {{ task['coordinates'][1] }}%; background-image: url('static/img/{{ dict_progress_buttons['model' ~ model_number][task_number] }}.png');"></a>
        {% else %}
            <a href="/solv/{{dict_progress_buttons['level']}}{{model_number}}{{task_number + 1}}" class="button task" style="top: {{ task['coordinates'][0] }}%; left: {{ task['coordinates'][1] }}%; background-image: url('static/img/{{ dict_progress_buttons['model' ~ model_number][task_number] }}.png');"></a>
        {% endif %}
    {% endfor %}
{% endfor %}
</div>
<br>
<a href="/map" class="theme-btn">Назад<i class="far fa-angle-left"></i></a>

{% endblock %}