{% extends "base.html" %}

{% block content %}
    <div class="container">
        <img src="/static/img/comics/comix1.png">
    </div>
    <br>
    <div class="container">
        <p>В мире, где нейросети и компьютеры управляют всем, от производства до коммуникаций, жила была Мадина. Программирование и математика бали ее "коньком" поэтому она решила разобраться как все это работает.</p>
    </div>
    <br>
    <div class="container">
        <img src="/static/img/comics/comix2.png">
    </div>
    <br>
    <div class="container">
        <p>Однажды, когда Мадина что-то химичила с новым алгоритмом, она случайно активировала цифровой портал, который закинул ее внутрь её же нейросети.</p>
    </div>
    <br>
    <div class="container">
        <img src="/static/img/comics/comix3.png">
    </div>
    <br>
    <div class="container">
        <p>Зная, что практически все в нейронках построено на линейных уравнениях, Мадина поняла, что вернуться назад можно только наведя порядок в сети и устранив все сбои.</p>
    </div>
    <br>
    <div class="container">
        <img src="/static/img/comics/comix4.png">
    </div>
    <br>
    <div class="container">
        <p>Решай вместе с Мадиной загадки искусственной нейросети и стань легендой современных технологий!</p>
    </div>
    <br>
    <div class="container">
        <img src="/static/img/comics/comix5.png">
    </div>
    <br>
    <a href="/map" class="theme-btn">ПОМОЧЬ <i class="far fa-angle-right"></i></a>
{% endblock %}